{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xtgame</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to xtgame</h1>
        <div class="play-area">
            {% x = range(9) %}
            {% for i in x %}
            {% var= "block_" + str(i) %}
                {{ var }}
            <!--<div id="block_"+str(i) ,class="block"></div>-->
            {% endfor %}
            <button onclick="reset_board()">Reset board</button>
        </div>
    </div>

    
</body>
</html>